{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load static %}
{% block content %}
    <div class="product-details"><!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="{{ product.images.first.image.url }}" alt=""/>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
                <img src="" class="newarrival" alt=""/>
                <h2>{{ product.name }}</h2>
                <img src="" alt=""/>
                <span>
                    <span> {{ product.price }} $</span>
                <div class="choose">
                <ul class="nav nav-pills">
                    <li>
                        <form action="{% url 'wishlist-add' product_id=product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-plus-square"></i>Add to wishlist</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'cart-add' product_id=product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-plus-square"></i>Add to cart</button>
                        </form>
                    </li>
                </ul>
            </div>

								</span>
                <p><b>Brand:</b> {{ product.brand }}</p>
                <p><b>Model:</b> {{ product.brand_model }}</p>
                <p><b>Description:</b> {{ product.description }}</p>
                {% for specification in specifications %}
                    <li>{{ specification.name }}: {{ specification.value }}</li>
                {% endfor %}
                <a href=""><img src="{{ object.image.url }}" class="share img-responsive" alt=""/></a>
            </div><!--/product-information-->
        </div>

        <div class="category-tab shop-details-tab"><!--category-tab-->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="reviews">
                    <div class="col-sm-12">
                        {% for review in product.reviews_set.all %}
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="path_to_user_avatar" alt="">
                                </a>
                                <div class="media-body">
                                    <ul class="nav nav-pills">
                                        <li><i class="fa fa-user"></i> {{ review.name }}</li>
                                    </ul>
                                    <p>{{ review.text }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <p>No reviews yet.</p>
                        {% endfor %}

                        <p><b>Write Your Review</b></p>
                        <form action="{% url 'add_review' product.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name" name="name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email Address" name="email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" name="text"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                        <li>
                            <form action="{% url 'add_star' %}" method="post" name="rating">
                                <b>{% trans 'Рейтинг' %}:</b>
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.id }}" name="product">
                                <span class="rating">
                                {% for k, v in star_form.fields.star.choices %}
                                    <input id="rating{{ v }}" type="radio" name="star"
                                           value="{{ k }}">
                                    <label for="rating{{ v }}">{{ k }}</label>
                                {% endfor %}
                            </span>
                                <span class="editContent">4.0</span>
                            </form>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/category-tab-->
    <script>
        function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${name}, `
        }

    </script>
{% endblock %}
